<div class="row">
  <div class="col col-sm-2 abbr">
    <abbr
      class="badge rounded w-100"
      style="background-color: {% if patent.status == 'granted' %}#28a745{% elsif patent.status == 'pending' %}#ffc107; color: #333{% else %}#6c757d{% endif %};"
    >
      <div>{{ patent.status | upcase }}</div>
    </abbr>
  </div>

  <div id="patent-{{ forloop.index }}" class="col-sm-8">
    <!-- Title -->
    <div class="title">
      {% if patent.link and patent.link != '' %}
        <a href="{{ patent.link }}" target="_blank" rel="noopener noreferrer">{{ patent.title }}</a>
      {% else %}
        {{ patent.title }}
      {% endif %}
    </div>
    <!-- Inventors -->
    {% if patent.inventors %}
      <div class="author">
        {% for inventor in patent.inventors %}
          {%- if inventor == "Hari Prasad Piridi" -%}
            <em>{{ inventor }}</em>
          {%- else -%}
            {{ inventor }}
          {%- endif -%}
          {%- unless forloop.last -%}, {% endunless -%}
        {% endfor %}
      </div>
    {% endif %}
    <!-- Patent metadata -->
    <div class="periodical">
      {% if patent.patent_office -%}
        {{ patent.patent_office }} Patent App.
      {%- endif %}
      {%- if patent.publication_number -%}
        &nbsp;<span style="font-family: monospace;">{{ patent.publication_number }}</span>
      {%- endif -%}
      {%- if patent.application_number -%}
        , App. No. <span style="font-family: monospace;">{{ patent.application_number }}</span>
      {%- endif -%}
      {%- if patent.date_filed -%}
        , Filed {{ patent.date_filed }}
      {%- endif -%}
      {%- if patent.date_published and patent.date_published != '' -%}
        , Published {{ patent.date_published }}
      {%- endif -%}
      {%- if patent.date_granted and patent.date_granted != '' -%}
        , Granted {{ patent.date_granted }}
      {%- endif -%}
    </div>

    <!-- Links/Buttons -->
    <div class="links">
      {% if patent.abstract %}
        <a class="abstract btn btn-sm z-depth-0" role="button">Abs</a>
      {% endif %}
      {% if patent.link and patent.link != '' %}
        <a href="{{ patent.link }}" class="btn btn-sm z-depth-0" role="button" target="_blank" rel="noopener noreferrer">Google Patents</a>
      {% endif %}
      {% if patent.pdf %}
        {% if patent.pdf contains '://' %}
          <a href="{{ patent.pdf }}" class="btn btn-sm z-depth-0" role="button">PDF</a>
        {% else %}
          <a href="{{ patent.pdf | prepend: '/assets/pdf/' | relative_url }}" class="btn btn-sm z-depth-0" role="button">PDF</a>
        {% endif %}
      {% endif %}
    </div>

    {% if patent.abstract %}
      <!-- Hidden abstract block -->
      <div class="abstract hidden">
        <p>{{ patent.abstract }}</p>
      </div>
    {% endif %}
  </div>
</div>
